.container-main {
    background-image: url(../images/tmntbg.jpg);
    height: 100%;
    background-position-x: 50%;
    background-position-y: 0px;
    background-repeat: no-repeat;
    background-size: 140%;
    background-blend-mode: darken;
}

.backdrop {
height: 800px;
}

img {
    margin: 0 auto;
}

#welcome-page {
    background-color: rgba(245, 245, 245, 0.623);
    font-family: 'Luckiest Guy', cursive;
    color:rgb(4, 63, 4);
    text-shadow:
    -1px -1px 0 whitesmoke,
    1px -1px 0 whitesmoke,
    -1px 1px 0 whitesmoke,
    1px 1px 0 whitesmoke;
}

button {
    position: relative;
    left: 47%;
    margin: 0 auto;
}